.container.footer
    .row.dm-socials-btn
        .col-xs-12.text-center
            i.fa.fa-instagram
            i.fa.fa-vk
            i.fa.fa-facebook
            //- img(src="/images/insta-white-200.png")
            //- img(src="/images/vk-white-200.png")
            //- img(src="/images/vk-white-200.png")
            //- img(src="/images/insta-white-200.png")

    .row
        ul.hr.col-xs-12.text-center
            li
                a(href="#") Контакты
            li
                a(href="#") Доставка
            li
                a(href="#") Галерея
    .row.copyrights
        p.col-xs-6.col-sm-6.col-md-6.col-xs-push-3.col-sm-push-3.col-md-push-3 &copy;2017 Дмитрий Тишкин, Дмитрий Кравец. Все права защищены
