footer.container
    .row
        .col-xs-4.col-sm-4.col-md-4.col-xs-push-5.col-sm-push-5.col-md-push-5.img-container
            img(src="/images/insta-white-200.png")
            img(src="/images/vk-white-200.png")
            img(src="/images/vk-white-200.png")
            img(src="/images/insta-white-200.png")

    .row
        .col-xs-4.col-sm-4.col-md-4.col-xs-push-3.col-sm-push-2.col-md-push-3
            ul.hr
                li
                    a(href="#") Контакты
                li
                    a(href="#") Доставка
                li
                    a(href="#") Галерея
    .row.copyrights
        p.col-xs-6.col-sm-6.col-md-6.col-xs-push-3.col-sm-push-3.col-md-push-3 &copy;2017 Дмитрий Тишкин, Дмитрий Кравец. Все права защищены
