footer.container
    .row.dm-socials-btn
        .col-xs-12.text-center
            i
                a(href="#").fa.fa-instagram
            i
                a(href="#").fa.fa-vk
            i
                a(href="#").fa.fa-facebook
    .row
        ul.hr.col-xs-12.text-center
            li
                a(href="#") Контакты
            li
                a(href="#") Доставка
            li
                a(href="#") Галерея
    .row.copyrights
        p.col-xs-12.col-sm-6.col-sm-push-3.col-md-push-3 &copy;2017 Дмитрий Тишкин, Дмитрий Кравец. Все права защищены
