extends layout

block content

  .container
    .row.head
      .row
        img.col-xs-4.col-sm-4.col-md-2.col-xs-push-4.col-sm-push-4.col-md-push-5.logo(src="/images/logo.png")
        .col-xs-5.col-sm-5.col-md-5
      .row
        img.col-xs-10.col-sm-10.col-md-8.col-xs-push-1.col-sm-push-1.col-md-push-2.logo_img(src="/images/love.png")
      .row.telephone
        .col-xs-6.col-sm-6.col-md-4.col-xs-push-6.col-sm-push-6.col-md-push-8
          .col-md-12 8 (952) 457-05-76
          .col-md-12 8 (83130) 3-22-80

    .row.advantage
      .col-xs-12.col-sm-4.col-md-4.col-sm-offset-1.col-md-offset-1
        h1 Почему &nbsp; нам доверяют?
        p.p-middle-size более 5-ти лет <br/> на рынке мебели

      .col-xs-12.col-sm-6.col-md-6.col-sm-offset-1.col-md-offset-1
        .row
          img.col-xs-2.col-sm-2.col-md-2.pic(src="/images/settings-128.png")
          .col-xs-10.col-sm-10.col-md-10
            h2 Любые размеры
            p.p-small-size Для нас нет понятия "Стандартный размер", мы изготавливаем индивидуальную мебель, которая подойдет именно Вам.
        .row
          img.col-xs-2.col-sm-2.col-md-2.pic(src="/images/gear-128.png")
          .col-xs-10.col-sm-10.col-md-10
            h2 Любая сложность
        .row
          img.col-xs-2.col-sm-2.col-md-2.pic(src="/images/calendar-128.png")
          .col-xs-10.col-sm-10.col-md-10
            h2 Высокое качество
        .row
          img.col-xs-2.col-sm-2.col-md-2.pic(src="/images/Auto-128.png")
          .col-xs-10.col-sm-10.col-md-10
            h2 Бесплатная доставка

    .row.production
      .row
        .col-md-12
          h1 Мы производим

      .row
        img.col-xs-12.col-sm-12.col-md-12(src="/images/kitchen.png")
        .col-xs-12.col-sm-12.col-md-12
          img.img-small(src="/images/closet.png")
          img.img-small.img-offset(src="/images/wardrobe.png")
          img.img-small.img-offset(src="/images/kids-room.png")
          img.img-small.img-offset(src="/images/other.png")


    .row.social
      p.col-md-7 Больше наших работ в социальных сетях
      .col-md-5
        img.col-md-4(src="/images/Instagram_icon.png")
        img.col-md-4(src="/images/vk.png")

    .row.about
      img.col-xs-12.col-sm-12.col-md-12(src="/images/map.png")
      .col-xs-10.col-sm-10.col-md-8.col-xs-push-1.col-sm-push-1.col-md-push-2.address
        img.col-xs-4.col-sm-4.col-md-2.col-xs-push-4.col-sm-push-4.col-md-push-5.logo(src="/images/logo.png")
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text г. Саров
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text МУП "Товарная база"
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text ул. Железнодорожная д. 9 стр. 5
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text 8 (952) 457-05-76
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text 8 (83130) 3-22-80
        .col-xs-10.col-sm-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.text Garin.M.V@gmail.com

    .clearfix