extends layout

block content

  .container
    .row.head
      .row
        img.col-md-2.col-md-push-5.logo(src="/images/logo.png")
      .row
        img.col-md-6.col-md-push-3.logo_img(src="/images/love.png")
      .row.telephone
        .col-md-3.col-md-push-7
          .col-md-12 8(952)457-05-76
          .col-md-12 8(952)457-05-76

    .row.advantage
      .col-md-4.col-md-offset-1
        h3 Почему нам доверяют?
        p.p-middle-size более 5-ти лет <br/> на рынке мебели

      .col-md-6.col-md-offset-1
        img.col-md-2.pic(src="/images/toggle.png")
        .col-md-10
          h4 Любые размеры
          p.p-small-size Для нас нет понятия "Стандартный размер", мы изготавливаем индивидуальную мебель, которая подойдет именно Вам.

