extends layout

block content

  .col--12-of-12.head
    .wrap
      img.col.col--2-of-12.col--centered.logo(src="/images/logo.png")

      img.col.col--12-of-12.col--centered.love_img(src="/images/love.png")
      .col.col--3-of-12.col--push-8-of-12.telephone
        .col--12-of-12 8(952)457-05-76
        .col--12-of-12 8(83130)3-22-80

  .wrap.advantage
    .grid
      .col.col--5-of-12.col--push-1-of-12 Почему нам доверяют
      .col.col--6-of-12
        img.col--1-of-12
        .col.col--11-of-12 Любые размеры
    .grid
      p.col.col--2-of-12.col--centered Мы производим
      .col.col--12-of-12 Кухни
      .col.col--3-of-12 Нечто
      .col.col--3-of-12 Нечто
      .col.col--3-of-12 Нечто
      .col.col--3-of-12 Нечто
    .grid
      .col--12-of-12 Картинка с социалочкой
      .col--12-of-12 Карта
      .col--12-of-12 Блок с контактами