extends layout

block content
  header.container-fluid
    .row.dm-header
      .col-xs-12
        .row
          img.col-xs-4.col-md-2.col-xs-push-4.col-sm-push-4.col-md-push-5.dm-logo(src="/images/logo.png")
          .col-xs-5.col-sm-5.col-md-5
        .row
          img.col-xs-10.col-md-6.col-xs-push-1.col-sm-push-1.col-md-push-3.dm-logo_img(src="/images/love.png")
        .row.dm-telephone
          .col-xs-12.col-sm-6.col-md-4.col-sm-push-6.col-md-push-8
            p.col-xs-6.col-md-12 8 (952) 457-05-76
            p.col-xs-6.col-md-12 8 (83130) 3-22-80
  .container
    .row.dm-advantage
      .col-xs-12.col-sm-4.col-sm-offset-1.col-md-offset-1
        h1 Почему &nbsp; нам доверяют?
        p.p-middle-size  более 5-ти лет на рынке мебели

      .col-xs-12.col-sm-6.col-sm-offset-1.col-md-offset-1
        .row
          img.col-xs-2.pic(src="/images/settings-128.png")
          .col-xs-10
            h2 Любые размеры
            p.p-small-size Для нас нет понятия "Стандартный размер", мы изготавливаем индивидуальную мебель, которая подойдет именно Вам.
        .row
          img.col-xs-2.pic(src="/images/gear-128.png")
          .col-xs-10
            h2 Любая сложность
        .row
          img.col-xs-2.pic(src="/images/calendar-128.png")
          .col-xs-10
            h2 Высокое качество
        .row
          img.col-xs-2.pic(src="/images/Auto-128.png")
          .col-xs-10
            h2 Бесплатная доставка

    .row.dm-production
      .col-xs-12
        .row
          .col-md-12
            h1 Мы производим
        .row
          .col-xs-12.dm-product
            a.dm-kitchen
              .dm-filler
                span.dm-label Кухни
        .row
          .col-xs-12.col-md-3.dm-product
            a.dm-closet
              .dm-filler
                span.dm-label Шкафы-купе
          .col-xs-12.col-md-3.dm-product
            a.dm-wardrobe
              .dm-filler
                span.dm-label Гардеробные
          .col-xs-12.col-md-3.dm-product
            a.dm-kids-room
              .dm-filler
                span.dm-label Детские
          .col-xs-12.col-md-3.dm-product
            a.dm-other
              .dm-filler
                span.dm-label Другое

    .row
      .col-xs-12.dm-social
        .row
          p.col-xs-12.col-md-7 Больше наших работ в социальных сетях
          .col-xs-12.col-md-5
            a.fa.fa-vk(href="#")
            a.fa.fa-facebook(href="#")
            a.fa.fa-instagram(href="#")

    .row.dm-about
      img.col-xs-12(src="/images/map.png")
      .col-xs-10.col-md-6.col-xs-push-1.col-sm-push-1.col-md-push-3.dm-address
        img.col-xs-4.col-xs-push-4.col-sm-push-4.col-md-push-4.dm-logo(src="/images/logo.png")
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-text г. Саров
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-text МУП "Товарная база"
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-text ул. Железнодорожная д. 9 стр. 5
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-telephone 8 (952) 457-05-76
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-telephone 8 (83130) 3-22-80
        .col-xs-10.col-md-11.col-xs-push-1.col-sm-push-1.col-md-offset-1.dm-text Garin.M.V@gmail.com

    .clearfix
