doctype html
html
  head
    title Мебель твоей мечты
    link(rel='stylesheet', href='/css/main.min.css')
  body
    block content
    include footer
    script(src="/javascripts/libs.min.js")
    script(src="/javascripts/main.min.js")
    