doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.min.css')
  body
    block content
    script(src="/javascripts/libs.min.js")
    script(src="/javascripts/main.min.js")
