.advantage {
  padding-top: 1.5em;
  h1{
    @extend .font-bold-italic;
    margin-top: 0.9em;
    font-weight: 500;
    text-align: center;
    transform: scale(1.25);
  }

  h2 {
    @extend .font-bold;
    padding-top: 2.0em;
    margin: 0;
    vertical-align: text-bottom;
    font-weight: 500;
    text-align: justify;
  }

  h3 {
    @extend .font-bold;
    margin-top: 1.95em;
    margin-bottom: 0;
    text-align: left;
  }


  .pic {
    margin-top: 2em;
  }

  .p-middle-size {
    color: brown;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    text-align: left;
    font-size: 3.0em;
    padding-top: 3.7em;
    margin-bottom: 0;
  }

  .p-small-size {
    @extend .p-middle-size;
    font-weight: 400;
    font-size: 1.7em;
    padding-top: 1.4em;
  }


  @media (max-width: 767px) {
    h2 {
      padding-top: 1.15em;
    }
    .p-middle-size {
      font-size: 1.5em;
    }
    .p-small-size {
      padding-top: 1.0em;
      font-size: 1.1em;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    h2 {
      padding-top: 0.95em;
    }
    .p-middle-size {
      padding-top: 4.0em;
      font-size: 2.0em;
    }
    .p-small-size {
      padding-top: 1.1em;
      font-size: 1.3em;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    h2 {
      padding-top: 1.21em;
    }
    .p-middle-size {
      padding-top: 3.5em;
      font-size: 2.5em;
    }
    .p-small-size {
      padding-top: 1.3em;
      font-size: 1.4em;
    }
  }

  @media (min-width: 1200px) {
    h2 {
      padding-top: 1.5em;
    }
  }
}