.dm-header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  
  background-image: url('../images/top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .dm-logo {
    margin-bottom: 2em;
    align-items: center;
  }
  .dm-telephone {
    font-size: 2.2em;
    font-weight: bold;

    color: #0059A7;
    margin-top: 1em;
  }
}