body {
  padding: 0;
  margin: 0;
}

@import "default.scss";

.head {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-image: url('../images/top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .logo {
    margin-bottom: 2em;
    align-items: center;
  }
  .telephone {
    font-size: 2.2em;
    font-weight: bold;

    color: $def_blue;
    margin-top: 1em;
  }
}

.advantage {
  padding-top: 1.5em;

  h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    text-align: center;
  }

  h4 {
  margin-top: 1.7em;
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 2.2em;
  text-align: left;
}

  .pic {
    margin-top: 3em;
  }

  .p-middle-size {
    color: brown;
    font-style: italic;
    font-size: 3em;
    text-align: center;
  }

  .p-small-size {
    color: brown;
    font-style: italic;
    font-size: 2em;
    text-align: left;
  }
}

.production {
  padding-top: 3.0em;
  h1 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 4.0em;
  }
  img {
    margin-bottom: 1.5em;
    padding: 0;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.35);
    float: left;
  }
  .img-small {
    max-width: 19em;
  }
  .img-offset {
    margin-left: 2.4em;

  }
}

.social {
  padding-top: 4.0em;
  p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 4.0em;
  }
}


.about {
  padding-top: 4.0em;

  .address {
    background-color: white;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2.0em 0 2.5em 0;
    margin: -12em 0 0 0;
    .text {
      text-align: left;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}