html {
  min-height: 100%;
  position: relative;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 9em 0;
  padding: 0;
}

@import "default.scss";
@import "mixins.scss";

.font-bold {
  font-family: "Roboto";
  font-weight: bold;
}

.font-bold-italic {
  @extend .font-bold;
  font-style: italic;
}

a {
  text-decoration: none;
}

@import "header";
@import "advantage";
@import "production";
@import "social";
@import "about";
@import "footer";
