body {
  padding: 0;
  margin: 0;
}

@import "default.scss";
@import "mixins.scss";

.font-bold {
  font-family: "Roboto";
  font-weight: bold;
}

.font-bold-italic {
  @extend .font-bold;
  font-style: italic;
}

a {
  text-decoration: none;
}

@import "header";
@import "advantage";
@import "production";
@import "social";
@import "about";
